PL_MVC/Connected Services/MateriaService/Materia3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ML" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ML" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62321/Materia.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:62321/Materia.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="Materia">
    <xs:sequence>
      <xs:element minOccurs="0" name="Costo" type="xs:decimal" />
      <xs:element minOccurs="0" name="Creditos" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Estatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="Grupo" nillable="true" type="tns:Grupo" />
      <xs:element minOccurs="0" name="IdMateria" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:base64Binary" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Materias" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Semestre" nillable="true" type="tns:Semestre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Materia" nillable="true" type="tns:Materia" />
  <xs:complexType name="Grupo">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Grupos" nillable="true" type="q2:ArrayOfanyType" />
      <xs:element minOccurs="0" name="IdGrupo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Plantel" nillable="true" type="tns:Plantel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Grupo" nillable="true" type="tns:Grupo" />
  <xs:complexType name="Plantel">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdPlantel" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Planteles" nillable="true" type="q3:ArrayOfanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Plantel" nillable="true" type="tns:Plantel" />
  <xs:complexType name="Semestre">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdSemestre" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Semestres" nillable="true" type="q4:ArrayOfanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Semestre" nillable="true" type="tns:Semestre" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Correct" type="xs:boolean" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Ex" nillable="true" type="q5:Exception" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Object" nillable="true" type="xs:anyType" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Objects" nillable="true" type="q6:ArrayOfanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
</xs:schema>